# Node.js
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
.lib/
bower_components/
jspm_packages/


# Distribution directory
dist/
out/

# Yarn Integrity file
.yarn-integrity


# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDE-specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
