<p-table *ngIf="!tracking && orders" #dt [value]="orders" styleClass="p-datatable-sm" [paginator]="true" [rows]="5"
  [showCurrentPageReport]="true">
  <ng-template pTemplate="body" let-order>
    <tr>
      <td><img src="{{ 'data:'+order.product.product_id.content_type+';base64,'+order.product.product_id.image }}"
          [alt]="order.product.product_id.name" width="100" /></td>
      <td>{{order.product.product_id.name}}</td>
      <td>
        <p-tag severity="info" [value]="order.order_status"></p-tag>
      </td>
      <td *ngIf="order.order_status!='Delivered'">
        <p-button icon="pi pi-map-marker" styleClass="p-button-sm p-button-help p-button-text
p-button " label="Track Order" (onClick)="track(order)"></p-button>
      </td>

      <td *ngIf="order.order_status=='Delivered'">
        <div *ngIf="!order.rating">Please share your rating</div>
        <p-rating [(ngModel)]="order.rating" (onRate)="rated(order.product.product_id._id,$event)"
          (onCancel)="rated(order.product.product_id._id,0)" [cancel]="true">
        </p-rating>
      </td>
    </tr>
  </ng-template>
</p-table>
<section *ngIf="tracking && orders" style="margin-bottom: 5vh;">
  <p-button icon="pi  pi-arrow-circle-left" styleClass="p-button-sm p-button-help p-button-text
p-button " label="Back" (onClick)="selectedOrder=undefined;tracking=false"></p-button>
  <div style="    padding-inline: 1rem;
  font-size: small;">order id: {{selectedOrder._id}}</div>
  <h3 style="display: flex;align-items: center;justify-content: center;">{{selectedOrder.product.product_id.name}}</h3>
  <p-timeline [value]="selectedEvent" align="alternate">
    <ng-template pTemplate="marker" let-event>
      <span style="border-radius: 50px;
      height: 2rem;
      width: 2rem;
      color: white;
      align-items: center;
      display: flex;
      justify-content: center;" [style.backgroundColor]="event.color">
        <i [ngClass]="event.icon"></i>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
      {{event.status}}
    </ng-template>
  </p-timeline>

</section>
<div *ngIf=" !orders.length" style="display: flex;align-items: center;     flex-direction: column;   justify-content: center;
margin-block: 10vh;">
  <i class="pi pi-shopping-bag" style="color: #bdbdbd;font-size: 4rem;margin-inline: 1.5rem;cursor: pointer;"></i>
  <h4>Add Products To Show</h4>
</div>
