<ng-container *ngIf="product">
  <div
    style="border: 2px solid rgb(241, 241, 241);border-radius: 10px; margin: 5px;display: flex;align-items: center;flex-direction: column;padding-block: 10px;text-align: center;">
    <div>
      <img style="width: 20vh;" src="{{ 'data:'+product.content_type+';base64,'+product.image }}"
        [alt]="product.name" />
    </div>
    <div>
      <h3>{{ product.name }}</h3>
      <h4>{{ '₹' + product.price }}</h4>
      <h4>{{  product.description }}</h4>
      <p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
      <div class="tool">
        <p-button type="button" class="tool-button"
          styleClass="p-button-success p-button p-button-rounded p-button-text p-button-raised"
          (onClick)="addToCart(product._id)" icon="pi pi-cart-plus">
        </p-button>
      </div>
    </div>
  </div>
</ng-container>
