<header>
  <div class="items">
    <h2 style="color: #4d00ff;
    font-size: 1.8rem;"><span><i style="    font-size: 1.5rem;
    color: #00e190;" class="pi pi-shopping-bag"></i></span> Shopping Platform</h2>
    <div class="right-section">
      <i class="pi pi-shopping-cart" pBadge [value]="cart_items_count" (click)="op.toggle($event)"
        style="color: #51f2b8;font-size: 2rem;margin-inline: 2rem;cursor: pointer;"></i>

      <p-avatar [image]="profilePicture" (click)="menu.toggle($event)"
        [ngStyle]="{'cursor': 'pointer','display':'flex'}" size="large" shape="circle"></p-avatar>
    </div>
  </div>
</header>
<p-menu #menu [model]="items" [popup]="true"></p-menu>
<p-overlayPanel #op>
  <app-cart-list></app-cart-list>
</p-overlayPanel>
