<p-table #dt [value]="products" *ngIf="!checkout && products.length" styleClass="p-datatable-sm" [paginator]="true"
  [rows]="5" [showCurrentPageReport]="true">
  <ng-template pTemplate="body" let-product>
    <tr>
      <td><img src="{{ 'data:'+product.productDetails.content_type+';base64,'+product.productDetails.image }}"
          [alt]="product.productDetails.name" width="100" /></td>
      <td>{{product.productDetails.name}}</td>
      <td>{{product.quantity}}</td>
      <td>
        <div class="bt">
          <p-button styleClass="p-button-sm p-button-success p-button p-button-rounded p-button-text " icon="pi pi-plus"
            (onClick)="increment(product.product_id)">
          </p-button>
          <p-tag severity="Warning" [ngStyle]="{'margin-inline':'5px'}" styleClass="p-tag-rounded"
            [value]="product.quantity"></p-tag>
          <p-button styleClass="p-button-sm p-button-rounded p-button-danger
          p-button p-button-text" icon="pi pi-minus" (onClick)="decrement(product.product_id)">
          </p-button>
        </div>
      </td>
      <td>{{product.productDetails.price*product.quantity | currency:'INR'}}</td>
      <td>
        <p-button styleClass="p-button-sm p-button-rounded p-button-danger
        p-button p-button-text" icon="pi pi-trash" (onClick)="deleteFromCart(product.product_id)">
        </p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" *ngIf="cartSum">
    <div style="display: flex;align-items: center;justify-content: flex-end;">Cart Total : {{cartSum | currency:'INR'}}
      <p-button [ngStyle]="{'margin-inline':'10px'}" styleClass="p-button-sm p-button-raised p-button-success
      p-button " label="Buy" (onClick)="checkout=true"></p-button>
    </div>
  </ng-template>
</p-table>
<p-button icon="pi pi-arrow-circle-left" styleClass="p-button-sm p-button-help p-button-text
p-button " *ngIf="checkout" label="back" (onClick)="checkout=false"></p-button>
<ng-container *ngIf="checkout">
  <app-checkout [amount]="cartSum" (checkedout)="checkout=false" [products]="product_ref" id="1"></app-checkout>
</ng-container>
<div *ngIf="!checkout && !products.length" style="display: flex;align-items: center;     flex-direction: column;   justify-content: center;
margin-block: 10vh;">
  <i class="pi pi-shopping-cart" style="color: #bdbdbd;font-size: 4rem;margin-inline: 1.5rem;cursor: pointer;"></i>
  <h4>Add Products To Show</h4>
</div>
